.chat-container {
  padding: 30px;
}

.chat-input {
  display: flex;
  align-items: center;
}

.chat-board {
  color: black;
}

.message-container {
  overflow-y: auto;
  display: flex;
}

.message-container img {
  height: 30px;
  border-radius: 50%;
}

.image-container {
  padding-bottom: 15px;
  align-self: flex-end;
}

.right-message {
  box-sizing: border-box;
  margin: 0.25rem 0.25rem 0.25rem auto;
  width: fit-content;
  max-width: 66%;
  background-color: #1e90ff;
  color: white;
  padding: 12px;
  border-radius: 1.125rem 1.125rem 0 1.125rem;
}

.left-message {
  box-sizing: border-box;
  margin: 0 1rem 1rem 1rem;
  width: fit-content;
  max-width: 66%;
  background-color: grey;
  color: white;
  padding: 15px;
  border-radius: 1.125rem 1.125rem 1.125rem 0;
}

.left-photo {
  margin-right: -8px;
}

.left-name {
  font-size: 10px;
  margin: 0 0 0 1.3rem;
}
