.col-8 {
  border-right: 0.5px solid gray;
}

.card .row .profile-pics {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 5px solid white;
  width: auto;
  display: inline-block;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.profile-images {
  width: initial;
  height: 100%;
  align-items: center;
}

.passenger-col {
  display: flex;
  padding: 15px;
  align-content: center;
  align-items: center;
  align-self: center;
}

.profile-info {
  padding-left: 10px;
  display: flex;
  align-items: center;
  overflow-wrap: anywhere;
  word-break: break-all;
}

.profile-info span {
  font-weight: bold;
}

.address-container {
  text-align: center;
}

.join {
  margin: auto;
  display: flex;
  scale: none;
  width: 150px;
  text-align: center;
  padding-left: 60px;
  margin-left: 550px;
}

.leave {
  margin: auto;
  display: flex;
  scale: none;
  width: 150px;
  text-align: center;
  padding-left: 60px;
  margin-left: 550px;
}

.chat-button {
  color: white;
  font-weight: bold;
}

button.close {
  float: right;
}
